@charset "utf-8"

html {
    padding: 0px;
    margin: 0px;
}

/*body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}*/

body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin: 5px 0px 20px 0px;
    padding: 0px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin: 5px 0px 20px 0px;
    padding: 0px;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 5px 0px 20px 0px;
    padding: 0px;
}

a:link, a:visited, a:active {
    color: #778087;
    text-decoration: none;
}

a:hover {
    color: #4d5256;
    text-decoration: underline;
}

ul li, ol li {
    padding: 0px;
    margin: 0px;
}

ol {
    margin: 1em 0px 0em 2em;
    padding: 0px;
}

pre {margin:1.5em 0;white-space:pre;}
pre{background-color:#eee;border:1px solid #ddd;margin:5px 0;padding:5px;overflow:auto}
pre, code{font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

pre,code{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;font-family:Monaco,"Andale Mono","Courier New",monospace}
code{
font-size:12px;
padding:2px
}
blockquote{
    color:#666;
    font-size:.8em;
    border-left:1px solid #666;
    padding-left:10px
    }

.topic_content ul{list-style-type:disc;margin:0 1.5em 1.5em 0;padding-left:1.5em}

.sep20 {
    height: 20px;
}

.sep10 {
    height: 10px;
}

.content {
    width: 960px;
    margin: 0px auto 0px auto;
}

.box {
    background-color: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #e2e2e9;
}

.inner {
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
}

.header {
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.gray {
    color: #999;
}

.cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.reply_content, .topic_content {
    font-size: 14px;
    line-height: 180%;
    color: #000;
    overflow:hidden;
    word-break: break-word;
}

.fr {
    float: right;
    text-align: right;
}

#Top {
    background-image: url("../static/head_bg.png");
    background-repeat: repeat-x;
    background-position-y: bottom;
    height: 48px;
}

#Wrapper {
    text-align: center;
    background-color: rgb(227, 231, 237);

}

#Bottom {
    border-top: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    color: #999;
}

#Main {
    width: auto;
    margin: 0px 0px 0px 0px;
}
