<html>
<head>
                    <meta charset="UTF-8">
                    <meta content="True" name="HandheldFriendly">
	<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport">
	<title>神秘人的博客</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <meta name="description" content="">
    
</head>
<body>
    <div id="Top">
        <div class="content">
            <div>
            <font color="#ffffff">神秘人</font>
            </div>
        </div>
    </div>
    
<div id="Wrapper">
	<div class="content">
	            
		<div class="box">

			<div class="cell item">
			    {{ content }}
			</div>

		</div>
		<div class="sep20"></div>
	</div>
</div>

    <div id="Bottom">
        <div class="content">
            <div class="inner">
                <div class="sep10"></div>
                    <div class="fr">
                        <a href="http://github.com" target="_blank"><img src="https://help.github.com/assets/help/set-up-git-27bd5975b24e994bc994ec1cf5c82ff9.gif" border="0" width="120"></a>
                    </div>
                    <span class="small">Be the person your dog thinks you are</span>
                <div class="sep10"></div>
            </div>
        </div>
    </div>
</body>
</html>
