<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{page.title}}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <meta name="description" content="testit" />
</head>

<body>
    <div id="Top">
        <div class="content">
            <div>
            <font color="#ffffff">神秘人</font>
            </div>
        </div>
    </div>

    <div id="Wrapper">
        <div class="content">
            <div id="Main">
                <div class="sep20"></div>

                <div class="box" style="border-bottom: 0px;">
                    <div class="header">
                        <h1>{{page.title}}</h1>
                    </div>
                    <div class="cell">
                        <article>
                        <div class="topic_content">{{ content }}</div>
                        </article>
                    </div>
                </div>

                <div class="sep20"></div>
                
                <div class="box">
                    <div class="inner">
                        <!-- Duoshuo Comment BEGIN -->
                        <div class="ds-thread"></div>
                        <script type="text/javascript">
                        var duoshuoQuery = {short_name:"shownb"};
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';ds.async = true;
                                ds.src = 'http://static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0] 
                                || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                        <!-- Duoshuo Comment END -->
                    </div>
                </div>

                <div class="sep20"></div>
            </div>
        </div>
    </div>

    <div id="Bottom">
        <div class="content">
            <div class="inner">
                <div class="sep10"></div>
                    <div class="fr">
                        
                    </div>
                    <span class="small">Es gibt einen Radiergummi in meinem Gehirm.</span>
                <div class="sep10"></div>
            </div>
        </div>
    </div>
</body>
</html>
